radio (volumio example)
[{"id":"f609e968.6adf68","type":"http request","z":"1cb9b72e.c74d09","name":"Stop","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=stop","tls":"","x":650,"y":240,"wires":[[]]},{"id":"672f0855.1b27e8","type":"http request","z":"1cb9b72e.c74d09","name":"Play","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=play","tls":"","x":650,"y":280,"wires":[[]]},{"id":"1b0ffa39.d059c6","type":"switch","z":"1cb9b72e.c74d09","name":"Volumio","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"off","vt":"str"},{"t":"cont","v":"on","vt":"str"}],"checkall":"true","outputs":2,"x":480,"y":260,"wires":[["f609e968.6adf68"],["672f0855.1b27e8"]]},{"id":"e9911d38.a16f9","type":"inject","z":"1cb9b72e.c74d09","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":290,"y":200,"wires":[["1b0ffa39.d059c6"]]},{"id":"aa6f294c.fbad18","type":"switch","z":"1cb9b72e.c74d09","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"50","vt":"str"}],"checkall":"true","outputs":6,"x":910,"y":960,"wires":[["6f740f4.20296f"],["8a00ff87.89563"],["b4052d3c.d243b"],["5b603266.5872bc"],["b8059c1f.af6b4"],["c203a33d.5e6ed"]]},{"id":"8a00ff87.89563","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 10","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=10","tls":"","x":1131,"y":930,"wires":[[]]},{"id":"b4052d3c.d243b","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 20","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=20","tls":"","x":1134,"y":976,"wires":[[]]},{"id":"5b603266.5872bc","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 30","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=30","tls":"","x":1133,"y":1024,"wires":[[]]},{"id":"b8059c1f.af6b4","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 40","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=40","tls":"","x":1131,"y":1070,"wires":[[]]},{"id":"c203a33d.5e6ed","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 50","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=50","tls":"","x":1136,"y":1116,"wires":[[]]},{"id":"6f740f4.20296f","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 0","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=0","tls":"","x":1121,"y":886,"wires":[[]]},{"id":"3c9e911f.6a8efe","type":"http request","z":"1cb9b72e.c74d09","name":"Radio Sender 1","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=play&N=2","tls":"","x":437,"y":697,"wires":[[]]},{"id":"7ccb9c06.e936e4","type":"http request","z":"1cb9b72e.c74d09","name":"Radio Sender 2","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=play&N=1","tls":"","x":439,"y":749,"wires":[[]]},{"id":"ed810a70.6603a8","type":"http request","z":"1cb9b72e.c74d09","name":"Radio Sender 3","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=play&N=3","tls":"","x":446,"y":802,"wires":[[]]},{"id":"40ce418a.7894d","type":"http request","z":"1cb9b72e.c74d09","name":"Radio Sender 4","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=play&N=0","tls":"","x":439,"y":859,"wires":[[]]},{"id":"45602683.d9b548","type":"function","z":"1cb9b72e.c74d09","name":"payload","func":"// outputs: 2\nmsg.payload = msg.bri; \nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["ef508423.4572e8"]]},{"id":"ef508423.4572e8","type":"switch","z":"1cb9b72e.c74d09","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"20","vt":"str"},{"t":"eq","v":"30","vt":"str"},{"t":"eq","v":"40","vt":"str"},{"t":"eq","v":"50","vt":"str"},{"t":"eq","v":"60","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"70","vt":"str"},{"t":"eq","v":"80","vt":"str"},{"t":"eq","v":"90","vt":"str"},{"t":"eq","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":14,"x":790,"y":340,"wires":[["f6fd7b6c.1634f8"],["f4d3946.7ff5468"],["813eeac8.268328"],["3c18ca63.8a7916"],["e2087eb0.40cc9"],["2b6c62d6.49d97e"],["5354391a.796818"],["f62a754f.d8d938"],["4ca02671.d0ccd8"],["82135c55.65a66"],["36d1e9b0.649176"],["f16797a8.681ab8"],["b8bf96ee.ae2f48"],["8348140f.ef08f8"]]},{"id":"f4d3946.7ff5468","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 20","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=20","tls":"","x":1050,"y":180,"wires":[[]]},{"id":"813eeac8.268328","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 30","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=30","tls":"","x":1050,"y":220,"wires":[[]]},{"id":"3c18ca63.8a7916","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 40","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=40","tls":"","x":1050,"y":260,"wires":[[]]},{"id":"e2087eb0.40cc9","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 50","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=50","tls":"","x":1050,"y":300,"wires":[[]]},{"id":"2b6c62d6.49d97e","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 60","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=60","tls":"","x":1050,"y":340,"wires":[[]]},{"id":"f6fd7b6c.1634f8","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 10","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=10","tls":"","x":1050,"y":140,"wires":[[]]},{"id":"5354391a.796818","type":"http request","z":"1cb9b72e.c74d09","name":"Radio Sender 1","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=play&N=2","tls":"","x":1060,"y":380,"wires":[[]]},{"id":"f62a754f.d8d938","type":"http request","z":"1cb9b72e.c74d09","name":"Radio Sender 2","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=play&N=1","tls":"","x":1060,"y":420,"wires":[[]]},{"id":"4ca02671.d0ccd8","type":"http request","z":"1cb9b72e.c74d09","name":"Radio Sender 3","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=play&N=3","tls":"","x":1060,"y":460,"wires":[[]]},{"id":"82135c55.65a66","type":"http request","z":"1cb9b72e.c74d09","name":"Radio Sender 4","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=play&N=4","tls":"","x":1060,"y":500,"wires":[[]]},{"id":"3c52f004.64125","type":"debug","z":"1cb9b72e.c74d09","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":400,"wires":[]},{"id":"1213e6b3.3c3cd9","type":"inject","z":"1cb9b72e.c74d09","name":"","topic":"sender","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["842039e9.c73658"]]},{"id":"4b7b5350.f3df1c","type":"inject","z":"1cb9b72e.c74d09","name":"","topic":"sender","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["842039e9.c73658"]]},{"id":"be73b6fe.978138","type":"inject","z":"1cb9b72e.c74d09","name":"","topic":"sender","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["842039e9.c73658"]]},{"id":"558c8e3b.32171","type":"inject","z":"1cb9b72e.c74d09","name":"","topic":"sender","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":400,"wires":[["842039e9.c73658"]]},{"id":"7584415c.1bef2","type":"comment","z":"1cb9b72e.c74d09","name":"Amazon Echo Sprachsteuerung für Volumio - Klick hier für mehr Infos","info":"\nZum Blogartikel [Amazon Echo mit Volumio](https://blog.unixweb.de/).","x":570,"y":100,"wires":[]},{"id":"842039e9.c73658","type":"alexa-local","z":"1cb9b72e.c74d09","devicename":"Radio","inputtrigger":true,"x":310,"y":340,"wires":[["1b0ffa39.d059c6","45602683.d9b548","3c52f004.64125"]]},{"id":"36d1e9b0.649176","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 70","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=70","tls":"","x":1050,"y":540,"wires":[[]]},{"id":"b8bf96ee.ae2f48","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 90","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=90","tls":"","x":1050,"y":620,"wires":[[]]},{"id":"8348140f.ef08f8","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 100","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=100","tls":"","x":1050,"y":660,"wires":[[]]},{"id":"f16797a8.681ab8","type":"http request","z":"1cb9b72e.c74d09","name":"Volume 80","method":"GET","ret":"txt","url":"http://volumio.local/api/v1/commands/?cmd=volume&volume=80","tls":"","x":1050,"y":580,"wires":[[]]},{"id":"3f369490.7bf2ec","type":"ui_button","z":"1cb9b72e.c74d09","name":"","group":"f36be21e.0368a","order":0,"width":0,"height":0,"passthru":false,"label":"Stumm","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"","x":716,"y":1009,"wires":[["aa6f294c.fbad18"]]},{"id":"c112e919.f6a1e8","type":"ui_button","z":"1cb9b72e.c74d09","name":"","group":"f36be21e.0368a","order":0,"width":0,"height":0,"passthru":false,"label":"Rock-Antenne","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":680,"wires":[["3c9e911f.6a8efe"]]},{"id":"36ef0308.5abe3c","type":"ui_button","z":"1cb9b72e.c74d09","name":"","group":"f36be21e.0368a","order":0,"width":0,"height":0,"passthru":false,"label":"Bayern 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":740,"wires":[["7ccb9c06.e936e4"]]},{"id":"e6106f5e.2238","type":"ui_button","z":"1cb9b72e.c74d09","name":"","group":"f36be21e.0368a","order":0,"width":0,"height":0,"passthru":false,"label":"Soft Rock Antenne","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":800,"wires":[["ed810a70.6603a8"]]},{"id":"4354542e.bdf3ec","type":"ui_button","z":"1cb9b72e.c74d09","name":"","group":"f36be21e.0368a","order":0,"width":0,"height":0,"passthru":false,"label":"Antenne Bayern","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":153,"y":857,"wires":[["40ce418a.7894d"]]},{"id":"f11b2bcf.249bc8","type":"ui_slider","z":"1cb9b72e.c74d09","name":"","label":"Lautstärke","group":"f36be21e.0368a","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":"5","x":715,"y":961,"wires":[["aa6f294c.fbad18"]]},{"id":"2a4ba9cf.751ea6","type":"ui_switch","z":"1cb9b72e.c74d09","name":"","label":"Musik","group":"630327e8.bc8788","order":12,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"fa-play","oncolor":"ffffff","offvalue":"off","offvalueType":"str","officon":"fa-music","offcolor":"ffffff","x":270,"y":260,"wires":[["1b0ffa39.d059c6"]]},{"id":"7eec14d4.8c573c","type":"ui_template","z":"1cb9b72e.c74d09","group":"f36be21e.0368a","name":"","order":0,"width":"6","height":"8","format":"<div ng-bind-html=\"msg.payload\"></div>\n<iframe src=\"http://192.168.10.37\" height=\"400\"></iframe>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":140,"y":920,"wires":[[]]}]
