spotify button livingroom
[{"id":"619de2d1.29ae2c","type":"mqtt in","z":"683b5f19.88d94","name":"","topic":"smartthings/Spotify Button/button/#","qos":"0","broker":"b2edd1b9.7b5de","x":200,"y":417,"wires":[["bad02c25.2d291"]]},{"id":"e13553e6.24951","type":"switch","z":"683b5f19.88d94","name":"Playing?","property":"data.state","propertyType":"msg","rules":[{"t":"neq","v":"playing","vt":"str"},{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":514,"wires":[["8fce2767.3767d8"],["2eb0d07c.9ef5e"]],"outputLabels":["paused","playing"]},{"id":"c600e9a.6324d18","type":"api-call-service","z":"683b5f19.88d94","name":"Shuffle","server":"82bd2c44.846e","service_domain":"media_player","service":"shuffle_set","data":"{\"entity_id\":\"media_player.spotify\",\"shuffle\":\"true\"}","mergecontext":"","x":720,"y":346,"wires":[["f6b6117f.f21fe"]]},{"id":"bad02c25.2d291","type":"api-current-state","z":"683b5f19.88d94","name":"spotify","server":"82bd2c44.846e","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"media_player.spotify","x":428,"y":417,"wires":[["fdb974c4.08c838","d33e7e05.24106","e13553e6.24951","d89a72da.25ed6"]]},{"id":"8fce2767.3767d8","type":"api-call-service","z":"683b5f19.88d94","name":"French Cafe PL","server":"82bd2c44.846e","service_domain":"media_player","service":"play_media","data":"{\"entity_id\":\"media_player.spotify\",\"media_content_id\":\"spotify:user:kamdiba:playlist:3x6xRt9FnSbfPbgiO6incZ\",\"media_content_type\":\"playlist\"}","mergecontext":"","x":751,"y":480,"wires":[["921867a6.872aa8"]]},{"id":"d33e7e05.24106","type":"switch","z":"683b5f19.88d94","name":"Source?","property":"data.attributes.source","propertyType":"msg","rules":[{"t":"neq","v":"Denon AVR-X2300W","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":417,"wires":[["cc7c2fc.66396d"]]},{"id":"2eb0d07c.9ef5e","type":"api-call-service","z":"683b5f19.88d94","name":"Next Track","server":"82bd2c44.846e","service_domain":"media_player","service":"media_next_track","data":"{   \"entity_id\": \"media_player.spotify\" }","mergecontext":"","x":741,"y":540,"wires":[["ab263e67.53a9a"]]},{"id":"fdb974c4.08c838","type":"switch","z":"683b5f19.88d94","name":"Shuffle?","property":"data.attributes.shuffle","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":340,"wires":[[],["c600e9a.6324d18"]],"outputLabels":["already shuffling","Turn on shuffle"]},{"id":"cc7c2fc.66396d","type":"api-call-service","z":"683b5f19.88d94","name":"Set source living room","server":"82bd2c44.846e","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.spotify\",\"source\":\"Denon AVR-X2300W\"}","mergecontext":"","x":770,"y":417,"wires":[["7c325549.a89a4c"]]},{"id":"f6b6117f.f21fe","type":"debug","z":"683b5f19.88d94","name":"Shuffle","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":997,"y":346,"wires":[]},{"id":"7c325549.a89a4c","type":"debug","z":"683b5f19.88d94","name":"Set Source","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1019,"y":417,"wires":[]},{"id":"4c12f982.e0cdf8","type":"debug","z":"683b5f19.88d94","name":"French Cafe","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1165,"y":480,"wires":[]},{"id":"ab263e67.53a9a","type":"debug","z":"683b5f19.88d94","name":"Next Track","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":540,"wires":[]},{"id":"921867a6.872aa8","type":"api-call-service","z":"683b5f19.88d94","name":"French Cafe PL","server":"82bd2c44.846e","service_domain":"media_player","service":"media_play","data":"{\"entity_id\":\"media_player.spotify\"}","mergecontext":"","x":960,"y":480,"wires":[["4c12f982.e0cdf8"]]},{"id":"d89a72da.25ed6","type":"debug","z":"683b5f19.88d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":560,"y":180,"wires":[]},{"id":"b2edd1b9.7b5de","type":"mqtt-broker","z":"","name":"MQTT Broker","broker":"192.168.1.98","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"82bd2c44.846e","type":"server","z":"","name":"Home Assistant"}]
